In [1]:
#print 0 to 20 by using range

In [6]:

Range=range(0,20)
for num in Range:
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
#print range 10 to 20

In [11]:
Range=range(10,20)
for num in Range:
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [12]:
#Print number of items in the list using 'len'

In [13]:
Numbers=[10, 20, 14, 55, 43, 87, 76]
print (Numbers)
length = len(Numbers)
print("Number of item in List: ",length)

[10, 20, 14, 55, 43, 87, 76]
Number of item in List:  7

In [15]:
AI="Artificial Intelligence"
print(AI)
for letter in AI:
    print (letter)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [24]:
name=input("-Your Name-")
age=int(input("-Your Age-"))
profession=input("-Your Profession-")

-Your Name- Fawad
-Your Age- 25
-Your Profession- Architect

In [20]:
#Print mixered datype using Tuples

In [21]:
mixedDatatype=(1,'Welcome', 2, 'Hope')
print(mixedDatatype)

(1, 'Welcome', 2, 'Hope')

In [ ]:
#Print mixered datype using 2 Tuples

In [11]:
Tuple1=(0, 1, 2, 3)
Tuple2=('python', 'Hope')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [12]:
#print Odd Numbers in the list

In [18]:
list = (20,10,16,19,25,1,276,188)
print(list)
for numbers in list:
    if (numbers%2==1):
        print(numbers," is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19  is odd
25  is odd
1  is odd

In [ ]:
#print Even numbers in the list

In [22]:
list = (20,10,16,19,25,1,276,188)
print(list)
for numbers in list:
    if(numbers%2==0):
        print(numbers, " is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is even
10  is even
16  is even
276  is even
188  is even